body {
  font-family: "Work Sans";
}
@media screen and (min-width: 600px) {
  header {
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    padding: 0 210px 0 210px;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: 10px;
  }

  nav ul li {
    display: inline-block;
  }

  nav ul li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .follow {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: #3c354f;
    font-size: 16px;
    font-weight: 500;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .t1 {
    color: #0b0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }

  .t2 {
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 100px 210px 100px 210px;
  }
}

@media screen and (max-width: 1300px) {
  header {
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: 10px;
  }

  nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  nav ul li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .follow {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: #3c354f;
    font-size: 16px;
    font-weight: 500;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .t1 {
    color: #0b0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }

  .t2 {
    text-align: center;
    font-family: Work Sans;
    font-size: 75px;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .section1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 10px 21px 10px 21px;
  }
}

.section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 100px 210px 100px 210px;
}

.t3 {
  text-align: right;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.t4 {
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.btn-3 {
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  border: 0;
  color: #fff;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #fff;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
